// FONTS

$mainFont: Roboto, sans-serif;
$titleFont: Montserrat, sans-serif;

// CORES

$backgroundColor: #012840;
$titleColor: #41D2F2;

// outras cores: 
// #0367A6
// #024873
// #0D0D0D

// BREAKPOINTS